body {
	background-color: #eeeeee;
}

.main-contents {

	background-color: #ffffff;
	height: 100%;
	width: 800px;
	text-align: center;
	border: 4px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em auto;
    padding: 2em;
}

.posting-contents {
	background-color: #ffffff;
	height: 100%;
	width: 800px;
	text-align: left;
	border: 4px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 2em;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.title {
	font-size: 30px;
	color: #82636b;
}

.subtitle{
	font-size: 23px;
	color: #82636b;
}

.name{
	font-size: 20px;
	color: #82636b;
}

.message{
	font-size: 20px;
}

.select {
	width: 55%;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}

.mini-select {
	width: 20%;
	padding: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 10px, 100%;
}

.signUp-select {
	width: 15%;
	padding: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 10px, 100%;
}


.comment-btn {
	background: #f08080;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #111;
    width: 130px;
    padding: 10px 0;

}

.home-btn{
	background: #f08080;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #111;
    width: 110px;
    padding: 10px 0;
}

.c-btn {
	background: #f5deb3;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #111;
    width: 90px;
    padding: 8px 0;
}

.btn {
    background: #fff8dc;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #111;
    width: 90px;
    padding: 8px 0;
}

.red-btn {
	background: #ff7f50;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #000000;
    width: 70px;
    padding: 8px 0;
}


.error {
	color: red;
	font-size: 20px;
}


.ul {
	font-size: 0;
}

.li {
	background-color: white;
	display: inline-block;
	font-size: 12px;
	width: 25%;
}

.user-table{
	align: "center";
}

.border{
	margin: 30px 80px;
	padding: 10px;
	border: thin solid #dcdcdc;
}

.line {
	border-top: 2px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
}

.comment-line {
	border-top: 1px solid #d3d3d3;
}

.posting-box {
    border: 4px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 2em;
}


.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
